<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="'navigation'" [mode]="'over'" [opened]="false">
        <mat-toolbar color="primary" class="sidenav-toolbar">
            Options
        </mat-toolbar>
        <mat-nav-list class="sidebar-options-list">
            <h3>Expansions</h3>
            <mat-list-item>
                <mat-slide-toggle class="variant-selector" color="primary" [checked]="useLuxEtTenebrae">
                    Luxt Et Tenebrae
                </mat-slide-toggle>
            </mat-list-item>
            <mat-list-item>
                <mat-slide-toggle class="variant-selector" color="primary" [checked]="usePerlaeImperii">
                    Perlae Imperii
                </mat-slide-toggle>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="main-toolbar mat-elevation-z6">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>
                Res Arcana - Setup Randomizer (by <a href="#" target="_blank">Vortilion</a>)
            </span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
