<div class="app-component" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-toolbar toolbar">
        <button
            type="button"
            [hidden]="!mobileQuery.matches"
            mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1
            class="app-name"
            [style.fontSize.px]="mobileQuery.matches ? 18 : 24">
            Res Arcana - Setup Randomizer (by
            <a href="https://boardgamegeek.com/user/Vortilion" target="_blank"
                >Vortilion</a>)
        </h1>
    </mat-toolbar>

    <mat-sidenav-container
        class="sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav
            class="sidenav"
            #sidenav
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56"
            [opened]="mobileQuery.matches ? 'false' : 'opened'">
            <div class="sidenav__inner">
                <!-- <mat-nav-list class="sidebar-options-list"> -->
                <h2>Optionen:</h2>
                <mat-divider class="divider"></mat-divider>
                <h3>Erweiterungen:</h3>
                <div class="options-list">
                    <mat-slide-toggle
                        class="options-list__option"
                        color="primary"
                        name="useLuxEtTenebrae"
                        [checked]="useLuxEtTenebrae"
                        (change)="onExpansionChange($event)">
                        Luxt Et Tenebrae
                    </mat-slide-toggle>
                    <!-- </mat-list-item> -->
                    <!-- <mat-list-item> -->
                    <mat-slide-toggle
                        class="options-list__option"
                        color="primary"
                        name="usePerlaeImperii"
                        [checked]="usePerlaeImperii"
                        (change)="onExpansionChange($event)">
                        Perlae Imperii
                    </mat-slide-toggle>
                    <!-- </mat-list-item> -->
                    <!-- </mat-nav-list> -->
                </div>

                <h3>Anzahl Spieler:</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Bitte auswählen</mat-label>
                    <mat-select
                        [value]="playerCount"
                        (selectionChange)="onPlayerCountChange($event)">
                        <mat-option
                            *ngFor="let playerCount of playerCountList"
                            [value]="playerCount.value">
                            {{ playerCount.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="page-content">
                useLuxEtTenebrae: {{ useLuxEtTenebrae }}<br />
                usePerlaeImperii: {{ usePerlaeImperii }}<br />
                monumentCount: {{ monumentCount }}<br />
                playerCount: {{ playerCount }}<br />
                placesCount: {{ placesCount }}<br />
                <button mat-raised-button color="primary" (click)="getAndSetRandomPlacesOfPower()">Randomize</button>
                <div>
                    <div *ngFor="let place of randomPlacesOfPower">{{place | json}}</div>
                </div>
            </div>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
