<button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon favorite-icon"
    aria-label="Language Selection">
    <mat-icon>translate</mat-icon>
</button>
<span>{{activeLang + '-language-label' | transloco}}</span>
<mat-menu #menu="matMenu">
    <button 
        mat-menu-item 
        (click)="changeLanguage('en')"
        [ngClass]="{'active': activeLang === 'en'}">
        <mat-icon 
            [ngStyle]="{'color' : activeLang === 'en' ? 'rgb(255 143 0)' : '' }">
            language
        </mat-icon>
        <span [ngStyle]="{'color' : activeLang === 'en' ? 'rgb(255 143 0)' : '' }">
            {{'en-language-label' | transloco}}
        </span>
    </button>
    <button 
        mat-menu-item
        (click)="changeLanguage('de')"
        [ngClass]="{'active': activeLang === 'de'}">
        <mat-icon 
            [ngStyle]="{'color' : activeLang === 'de' ? 'rgb(255 143 0)' : '' }">
            language
        </mat-icon>
        <span [ngStyle]="{'color' : activeLang === 'de' ? 'rgb(255 143 0)' : '' }">
            {{'de-language-label' | transloco}}
        </span>
    </button>
</mat-menu>
